
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body {
	font-family: 'Open Sans Hebrew', sans-serif;
	direction: rtl;
	background: white;
}

.center {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

#answer {
	display: none;
}

#answer a {
	font-size: 10pt;
	color: #777777;
}

#answer a:hover {
	color: #999999;
}


h1 {
	font-size: 48pt;
	color: #a31a04;
	margin: 20px auto;
}

#question {
	font-size: 24pt;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	width: 20%;
	margin: 30px auto;
	cursor: pointer;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.why p {
	text-align: right;
}

#chart_wrap {
	overflow: hidden;
}
